@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    font-family: "DM Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 150%;
    /* letter-spacing: -.25px; */
    color: black;
    --primary-color: #234839;
    --secondary-text: #7C7C7C;
    overflow-x: hidden;
}

html {
    overflow-y: hidden;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-content {
    width: 100%;
    max-width: 1440px;
}

.product-card {
    width: 324px;
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 12px;
    overflow: hidden;
}

.product-card .image-section {
    background-color: #e8dac4;
    height: 224px;
    overflow: hidden;
    position: relative;
}

.product-card .image-section img {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 25%;
    margin-inline: auto; 
    width: fit-content;
    width: 120px;
}

.product-card .info-section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.product-card .info-section .brand-name {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 2px 12px;
    display: block;
    border-radius: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.product-card .info-section .product-name {
    font-size: 20px;
}

.product-card .info-section .star-ratings {
    display: flex;
}

.product-card .info-section .stars {
    display: flex;
    filter: invert(83%) sepia(64%) saturate(1260%) hue-rotate(333deg) brightness(104%) contrast(87%);
}

.product-card .info-section .stars img {
    width: 1rem;
}

.product-card .info-section .pricing-section .strike-through {
    text-decoration: line-through;
    color: var(--secondary-text);
}

.product-card .info-section .pricing-section .main-price-section {
    display: flex;
    gap: 8px;
    align-items: end;
}

.product-card .info-section .pricing-section .main-price {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.product-card .info-section .pricing-section .price-per-ounce {
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 260%;
}

.product-card .info-section .pricing-section .promo-messaging {
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 150%;
}

.product-card .info-section .availability-messaging {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.product-card .info-section .availability-messaging .dot-indicator {
    width: 12px;
    height: 12px;
    background-color: #03D98D;
    border-radius: 16px;
}

.product-card .info-section .size-section {
    display: flex;
    gap: 1rem;
    font-size: 14px;
}

.product-card .info-section .size-section .selector {
    display: flex;
    gap: 16px;
}

.product-card .info-section button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 16px;
}

/* END OF PRODUCT CARD */
/* START OF FRAME PROJECT */

.commentary-section {
    margin: 40px 80px;
    display: flex;
    justify-content: space-around;
}

.commentary-section .left-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.commentary-section {
    text-align: center;
}

.commentary-section .eyebrow {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .75px;
}

.commentary-section .title {
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -.75px;
    font-weight: 500;
}

.commentary-section .right-side {
    flex-grow: 1;
    max-width: 600px;
    line-height: 135%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}